.headingDiv{
    padding-left: 30px;
}

.homepageLink {
    text-decoration: none;
  }

.productDiv{
    display: flex;
    flex-wrap: wrap;
}

@media (max-width:768px) {
    .productDiv{
        align-items: center;
        justify-content: center;
    }
    
}